body {
  background-color: #131315;
  font-family: sans-serif;
  color: white;
}
.header_image{
  width: 100%;
  height: 200px;
  background-image: url("header.png");
  background-size: cover;
  background-position: center;
}

.bar{
  display: flex;
  align-items: center;
}

.title {
  font-size: 200%;
  color: #e3c255;
}

.role_button {
  background-color: #131315;
  color: white;
  border: none;
}

.role_button:hover{
  color:#bc6aff;
}

.bar_divider {
  border-left: 1px solid white;
  align-self: stretch;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input_search_bar {
  background-color: #131315;
  border: 1px solid #9013FB;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 8px 12px;
}

.input_search_bar:focus {
  border-color: #bc6aff;
  box-shadow: 0 0 5px #9013FB;
}

.command_btn {
  
}

.cmdp {
  color:#9013FB
}

tr {
  width: auto;
  border-bottom: 1px solid white;
}

td {
  padding: 1rem;
  vertical-align: middle;
}

.command_bl, .permission_col, .response_col {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.command_bl {
  gap: 10px;
}

.command_btn {
  padding: 5px 10px;
  border: none;
}
