body {
  background-color: #131315;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
.header_image{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.profile_avatar img{
  border-radius: 50%;
}

.channel_commands_block{
  padding: 1rem;
}

.main_content_block {
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
}

.bar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  color: white;
}

.role_button {
  background-color: #131315;
  color: white;
  border: none;
}

.role_button:hover{
  color:#bc6aff;
}

.bar_divider {
  border-left: 1px solid white;
  align-self: stretch;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input_search_bar {
  background-color: #131315;
  border: 1px solid #9013FB;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 8px 12px;
}

.input_search_bar:focus {
  border-color: #bc6aff;
  box-shadow: 0 0 5px #9013FB;
}

.command_btn {
  margin-left: 10px;
}

.cmdp {
  color:#9013FB
}

.arrow {
  fill: white;
  width: 1em;
  height: 1em;
}

table {
  width: 100%;
  table-layout: fixed;
}

tr {
  width: auto;
  border-bottom: 1px solid white;
}

td {
  padding: 1rem;
  vertical-align: middle;
}

.command_bl, .permission_bl, .response_bl {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.command_bl {
  justify-content: flex-start;
  margin-right: 5px;
}

.command_btn {
  display: flex;
  border: none;
}

.command_txt, permission_txt, response_txt {
  padding: 0px;
  display: flex;
}

.res {
  font-size: 75%;
  color:#999999;
}
