body {
  background-color: #131315;
  font-family: sans-serif;
  color: white;
}

.title {
  font-size: 200%;
  color: #e3c255;
}

.role_button {
  background-color: #131315;
  color: white;
}

.role_button{
  color:#bc6aff;
}

.input_search_bar {
  background-color: #131315;
  border: 1px solid #9013FB;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 8px 12px;
}

.input_search_bar:focus {
  border-color: #bc6aff;
  box-shadow: 0 0 5px #9013FB;
}

.cmdp {
  color:#9013FB
}
